/* Override the default colors :) */

body {
  background: #fff url(/images/navigation/backpacking/navbar-background-white-black-orange.gif) repeat-x;
  color: inherit;
}

#NavMenuList a {
  color: #FFF; background-color: #F90;
}
#NavMenuList .NavSubMenuList li a {
  color: #FFF; background-color: #333;
  float: left;
}

#FooterNav {
  color: #FFF; background-color: #333;
}
#FooterNav li {
  color: #FFF; background-color: #333;
}
#Setlang a {
  font: 11px Arial, Geneva, Helvetica, sans-serif;
  color: #FFF; background-color: #69C;
  text-decoration: none;
}

#LoginBox {
  color: #000; background-color: inherit;
}
#LoginBox a {
  color: #000; background-color: inherit;
}
#NotLoggedInDiv {
  color: #000; background-color: inherit;
}
#NotLoggedInDiv a {
  color: #000; background-color: inherit;
}
#NavMenuList a span.navmenu-attention {
  color: #F00; background-color: inherit;
}
#NavMenuList .NavSubMenuList a span.navmenu-attention {
  color: #F4A; background-color: inherit;
}

#Greeting {
  color: #000; background-color: inherit;
}
#Greeting a {
  color: #000; background-color: inherit;
}





/*
h1 {
  color: #630; background-color: inherit;
}
h2 {
  color: #630; background-color: inherit;
}
h3 {
  color: #420; background-color: inherit;
}
hr {
  color: #963; background-color: #A74;
}
*/

a:link {
  color: #F20; background-color: inherit;
}
a:visited {
  color: #810; background-color: inherit;
}
a:active {
  color: #F96; background-color: inherit;
}
