/* Override the default colors :) */

body {
  background: #fff url(/images/navigation/white-orange-darkgrey/navbar-background.gif) repeat-x;
  color: inherit;
}

#NavMenuList a {
  color: #FFF; background-color: #F90;
}
#NavMenuList a:hover, #NavMenuList li.Selected a {
  color: #000; background-color: #FFF;
}
#NavMenuList .NavSubMenuList li, #NavMenuList .NavSubMenuList li a {
  color: #FFF; background-color: #333;
}
#NavMenuList .NavSubMenuList li a:hover, #NavMenuList .NavSubMenuList li.Selected a {
  color: #000; background-color: #FFF;
}
#NavMenuList a span.navmenu-attention {
  color: #F00; background-color: inherit;
}
#NavMenuList .NavSubMenuList a span.navmenu-attention {
  color: #F4A; background-color: inherit;
}

#FooterNav, #FooterNav li, #FooterNav li a {
  color: #FFF; background-color: #333;
}
#FooterNav a:hover {
  color: #000; background-color: #FFF;
}

#Userpic {
  background: url(/images/navigation/white-orange-darkgrey/navbar-right.jpg) no-repeat;
}

#Logo {
  background:url(/images/navigation/white-orange-darkgrey/logo.gif) no-repeat;
}

#LoginBox {
  color: #000; background-color: #FFF;
}
#LoginBox a {
  color: #000; background-color: inherit;
}
#NotLoggedInDiv {
  color: #000; background-color: #FFF;
}
#NotLoggedInDiv a {
  color: #000; background-color: inherit;
}
#NotLoggedInDiv #login_profile_name {
  background: url(/images/navigation/white-orange-darkgrey/login-icon.gif) no-repeat;
}
#Greeting {
  color: #000; background-color: #FFF;
}
#Greeting a {
  color: #000; background-color: inherit;
}





/*
h1 {
  color: #630; background-color: inherit;
}
h2 {
  color: #630; background-color: inherit;
}
h3 {
  color: #420; background-color: inherit;
}
hr {
  color: #963; background-color: #A74;
}
*/

a:link {
  color: #F20; background-color: inherit;
}
a:visited {
  color: #810; background-color: inherit;
}
a:active {
  color: #F96; background-color: inherit;
}
