/* Override the default colors :) */

body {
  background: #fff url(/images/navigation/grey-green-grey/navbar-background.gif) repeat-x;
  color: inherit;
}

#NavMenuList a {
  color: #FFF; background-color: #3C3;
}
#NavMenuList a:hover,
#NavMenuList li.Selected a,
#NavMenuList li a.Selected {
  color: #000; background-color: #FFF;
}
#NavMenuList a span.navmenu-attention {
  color: #FFF; background-color: inherit;
}
#NavMenuList a:hover span.navmenu-attention,
#NavMenuList .Selected span.navmenu-attention {
  color: #000; background-color: inherit;
}

#NavMenuList .NavSubMenuList li,
#NavMenuList .NavSubMenuList li a {
  color: #FFF; background-color: #666;
}
#NavMenuList .NavSubMenuList li a:hover,
#NavMenuList .NavSubMenuList li.Selected a {
  color: #000; background-color: #FFF;
}
#NavMenuList .NavSubMenuList span.navmenu-attention {
  color: #FAA; background-color: inherit;
}
#NavMenuList .NavSubMenuList a:hover span.navmenu-attention {
  color: #FFF; background-color: inherit;
}

#FooterNav, #FooterNav li, #FooterNav li a {
  color: #FFF; background-color: #3C3;
}
#FooterNav a:hover {
  color: #000; background-color: #FFF;
}

#Userpic {
  background: url(/images/navigation/white-orange-darkgrey/navbar-right.jpg) no-repeat;
}

#LoginBox {
  color: #FFF; background-color: #666;
}
#LoginBox a {
  color: #FFF; background-color: inherit;
}
#NotLoggedInDiv {
  color: #FFF; background-color: #666;
}
#NotLoggedInDiv a {
  color: #FFF; background-color: inherit;
}
#LoginBox #login_profile_name {
  background: #FFF url(/images/navigation/white-orange-darkgrey/login-icon.gif) no-repeat;
}

#Greeting {
  color: #FFF; background-color: #666;
}
#Greeting a {
  color: #FFF; background-color: inherit;
}





h1 {
  color: #090; background-color: inherit;
}
h2 {
  color: #070; background-color: inherit;
}
h3 {
  color: #050; background-color: inherit;
}
/*
hr {
  color: #963; background-color: #A74;
}
*/

a:link {
  color: #1A1; background-color: inherit;
}
a:visited {
  color: #090; background-color: inherit;
}
a:active {
  color: #3C3; background-color: inherit;
}
