/* Navigation */ 

body {
    color: #000;
    background: #fff url(/images/navigation/navbar-background.gif) repeat-x;
    margin: 0; padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}


/* The 90% width keeps the menubar from wrapping prematurely, 
but overlays the upgrade button in some browsers. Still
looking for a good fix. 
100% stretches the bar and creates a horizontal scroll. Suckage. */
#NavMenuList {
    color: #000; background-color: transparent;
    font: 80% Arial, Geneva, Helvetica, sans-serif;
    padding: 3px; margin-left: 40px;
    
    position: absolute;
    left: 60px; top: 60px;
    height: 40px; right: 100px;
    width: 90%;
    margin: 0; padding: 0;
    display: inline; white-space: nowrap;
    clear: both;
    z-index: 3;
}
#NavMenuList li {
    display: inline;
    list-style: none; white-space: nowrap;
}
#NavMenuList a {
    padding: 2px 10px 1px 10px;
    width: auto; /*height: 16px;*/
    color: #FFF; background-color: #036;
    font: 11px Arial, Geneva, Helvetica, sans-serif;
    text-decoration: none;
    float: left; display: block;
    border-top: 1px solid #FFF;
}
/* The following is the Tantek hack to make the above element
   display properly in IE5 and others that have the box-model bug */
#NavMenuList a {
  height: 20px; /* 'incorrect' height for IE5 with box-model bug */
  voice-family: "\"}\"";
  voice-family:inherit;
  height:16px; /* 'correct' height */
}
html>body #NavMenuList a {
  height:16px; /* be nice to opera 5 with 'correct' height again */
}
/* end of Tantek hack */
#NavMenuList a:hover {
    color: #000; background-color: #FFF;
}
#NavMenuList .NavSubMenuList {
    visibility: hidden;
    left: 0; top: 20px;
    position: absolute; height: 20px;
    width: 100%; display: inline; white-space: nowrap;
    margin: 0; padding: 0; border: 0px;
}
.NavSubMenuList li {
    display: inline;
    list-style: none;
}
#NavMenuList .NavSubMenuList li a {
    color: #FFF;
    background-color: #69C;
    float: left;
}
#NavMenuList .NavSubMenuList li a:hover {
    color: #000; background-color: #FFF;
}
#NavMenuListTitle {
    margin-left: 40px;
    text-decoration: underline;
    display: none;
}




/* Footer */

#FooterNav {
    /*margin: 0px; padding: 0 100px 0 70px;*/
    /*border: 1px solid #69C;*/
    margin: 0; padding: 0; border: 0;
    color: #FFF; background-color: #69C;
    clear: both;
    width: 100%; height: 20px;
}
#FooterNav li {
    color: #FFF; background-color: #69C;
    display: inline;
    list-style: none;
}
#FooterNav a {
    color: #FFF; background-color: transparent;
    font: 11px Arial, Geneva, Helvetica, sans-serif;
    text-decoration: none;
    padding: 3px 10px 1px 10px;
    width: auto; height: 16px;
    float: left;
}
#FooterNav a:hover {
    color: #000; background-color: #FFF;
}




/* Layout */

#Content {
    margin: 120px 30px 0 30px;
    padding-bottom: 20px;
    padding-top: 15px;
}
/* Fix IE5 Horizontal scroll */
* html div#Content { width: 100%; w\idth: auto; }

#Userpic {
    display: block;
    position: absolute;
    left: auto; right: 0; top: 0;
    width: 101px; height: 100px;
    color: #FFF; background-color: #FFF;
    text-align: right;
    z-index: 2;
}
#Userpic img {
    display: inline;
    width: 100px; height: 100px;
    color: #000; background-color: #FFF;
    border: 0;
}


#Logo {
    position: absolute;
    left: 0; top: 0;
    height: 68px;
    margin: 0; padding: 0;
    color: #FFF; background-color:transparent;
}
#Logo img {
    border: 0;
}
#LogoSubText {
    position: absolute;
    left: 100px; top: 50px;
    height: 5px;
    margin: 0; padding: 0;
    color: #FFF; background-color:#69C;
}
#LogoSubText img {
    border: 0;
}

#Greeting {
    position: absolute;
    left: auto; right: 112px; top: 15px;
    width: auto; height: 20px;
    text-align: right;
    color: #FFF; background-color: transparent;
    font: 12px Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#Greeting a {
    color: #FFF; background-color: transparent;
    font-size:1.2em;
}
#Greeting #Logout {
    font: 9px Arial, Geneva, Helvetica, sans-serif;
    margin-left: 10px;
}

#Setlang {
    position: absolute;
    left: auto; right: 105px; top: 0px;
    width: auto; height: 20px;
    margin: 0; padding: 0; border: 0;
    text-align: right; white-space: nowrap;
}
#Setlang a {
    font: 11px Arial, Geneva, Helvetica, sans-serif;
    color: #FFF; background-color: #69C;
    text-decoration: none;
}

#LoginBox {
    position: absolute;
    left: auto; right: 120px; top: 4px;
    width: auto; height: 20px;
    text-align: right;
    color: #FFF; background-color: transparent;
    font: 12px Arial, Helvetica, sans-serif;
}
#LoginBox a {
    color: #FFF;
}
#LoginBox #Login {
    font: 11px Arial, Geneva, Helvetica, sans-serif;
    margin-left: 10px;
}

#NotLoggedInDiv {
    position:absolute;
    left: auto; right: 150px; top: 12px;
    width: auto; height: 20px;
    text-align: right;
    color: #FFF; background-color: transparent;
    font: 14px Arial, Helvetica, sans-serif;
}
#NotLoggedInDiv a {
    color: #FFF; font-weight: normal;
}




/* Forms */

#Search {
    clear: both; float: left;
    position: absolute;
    left: auto; right: 40px; top: 103px;
    width: auto; height: 20px;
    margin: 0; padding: 0; border: 0;
    text-align: right;
    white-space: nowrap; display: inline;
    font: 11px Arial, Geneva, Helvetica, sans-serif;
}

#breadcrumbs {
    float: right;
    position: absolute;
    left: 10px; right: auto; top: 107px;
    width: auto; height: 20px;
    margin: 0; padding: 0; border: 0;
    text-align: left;
    white-space: nowrap; display: inline;
    font: 11px Arial, Geneva, Helvetica, sans-serif;
}

