ul.opt { display: inline; list-style: none inside; padding:0; margin:0; }

li.opt {
	display: inline; list-style: none inside; border: none; font-size:1.1em;
	border-right:1px solid #d6d3d6;
        margin: 0;
	padding-left:0px; padding-right:3px;
	/*padding-left:3px; padding-right:0px; *//* IE RULE - NEED TO HACK IT OR USE SEP. FILE!*/
}
li.opt2 {
	display: inline; list-style: none inside; border: none; font-size:1.1em;
        margin: 0;
	padding-left:0px; padding-right:0px;
	/*padding-left:3px; padding-right:0px; *//* IE RULE - NEED TO HACK IT OR USE SEP. FILE!*/
}
li.opt a, li.opt2 a {
        font-size:0.8em;
        font-weight:normal;
}

/* what the hell are all these for?? */
td.pad { padding:4px; }
td.pad-error { padding:4px;font-weight:bold;color:red; }
td.pad20 { padding:4px;width:20% }
td.pad20-error { padding:4px;font-weight:bold;color:red;width:20% }
td.padb { padding:4px; color:gray; }
td.pad2 { padding:4px;padding-left:12px; }
td.pad2-error { padding:4px;padding-left:12px;font-weight:bold;color:red; }
td.pad220 { padding:4px;padding-left:12px;width:20%; }
td.pad220-error { padding:4px;padding-left:12px;font-weight:bold;color:red;width:20%; }
td.pad2b { padding:4px;padding-left:12px;color:gray; }
p.title { padding-left:16px;color:gray;margin-bottom:4px;margin-top:12px; }
p.data { padding-left:16px; }

/* used by messaging and friends management */
th { text-align:left; }
td { vertical-align:top; }
td.new { font-weight:bold; }
td.del { text-align:center; }
a.del { font-size:1.1em;color:red;font-weight:bold; }


/* --Inline thumbnails------------------- */
.thumbnail-info-container {
        /*margin-right:10px;*/
	margin-bottom:10px;
	text-align:center;
        width:115px;
        text-align: left;
        /*border: 1px dashed orange;*/
}
.thumbnail-container {
        width: 115px; height: 119px; /* IE has forced me to increase height by 4px */
        position: relative;
        /*border: 1px dashed blue;*/
        vertical-align: middle;
        text-align: center;
}
div.thumbnail-shadow {
	padding: 7px 9px 8px 6px;
	background-repeat: no-repeat;
        margin: 0 auto; /* centre horizontally by default - usually overriden
                           on page to achieve vertical&horizontal centering */
	/*background-image:url('/images/thumbnail-shadow/firstattempt/bg.png');*/
	/*width:100px; height:100px;*/ /* Will need to hack this for IE5 */
	/*border: 1px dashed green;*/
}
a.thumbnail-shadow {
	/* IE fix for the link that loses the nice handy cursor once
	   we've applied our PNG background alpha transparency fix */
	cursor: pointer; /* IE will not like this if it's in Quirks mode */
        /* cursor: hand; *//* Only IE understands this one.. Others drop it! */
        /* how do we force the title attribute to be a tooltip in here? */
}
div.ie-link-focus-fix {
        position: relative;
}
div.thumbnail-shadow img {
        /*width:140px;
	height:140px;*/
        /*border: 1px dashed red;*/
}
div.thumbnail-extra-info {
        display:none;
}
a.thumbnail-status, a:hover.thumbnail-status {
        font-size:10px;
        text-decoration:none;
        font-weight:bold;
        /*height:14px;width:16px;*/
        vertical-align:top;
        color:#990;
        /*background-color: #FFD;*/
        border:1px solid #DD6;
        /* Make this block display without messing things up.. somehow
          force it to be a certain size or just use an image */
}
/* --/Inline thumbnails------------------ */
